# Ignore compiled executable files
main.exe
*.exe
*.txt

# Ignore compiled object files
main.o
*.o

# Ignore VS Code settings folder
.vscode/
*~

# Ignore other common files
*.log
*.tmp
*.swp
# Ignore swap/temp files
ui/#*.ui#
ui/#*.glade#
*.swp
*.tmp